.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #999;
  font-size: 1.25rem;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border: none;
  outline: none;
}

.clearIcon {
  position: absolute;
  right: 7rem; /* Adjust this if button width changes */
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
}

.searchButton {
  padding: 0.6rem 1.2rem;
  margin-left: 0.75rem;
  background-color: #00235e;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}
