.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #999;
  font-size: 1.25rem;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border: none;
  outline: none;
}

.clearIcon {
  position: absolute;
  right: 7rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
}

.searchButton {
  padding: 0.6rem 1.2rem;
  margin-left: 0.75rem;
  background-color: #00235e;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.historyModal {
  position: absolute;
  top: 75%;
  left: 1.4%;
  right: 0;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  max-width: 250px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.historyItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  overflow: hidden;
}

.historyIcon {
  flex-shrink: 0;
  font-size: 1.2rem;
  color: #666;
}

.historyText {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow: hidden;
  flex: 1;
}

.historyText h4,
.historyText p {
  margin: 0;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.historyText h4 {
  font-weight: 600;
  max-width: 40%;
  font-size: 0.8rem;
}

.historyText p {
  color: #777;
  max-width: 60%;
  font-size: 0.8rem;
}

.historyItem:hover {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .inputWrapper input {
    width: 20rem;
  }

  .inputWrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .clearIcon {
    top: 1.5rem;
    right: 1.8rem;
  }

  .searchButton {
    align-self: flex-end;
  }
}
