.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: transparent;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchInput:focus {
  border: none;
  outline: none;
}

.userCircle {
  width: 50px;
  height: 50px;
  background-color: #00235e;
  color: white;
  border-radius: 50%;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.userModal {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 180px;
  z-index: 10;
}

.userModal p {
  color: black;
}

.logoutButton {
  padding: 0.5rem;
  background-color: #c00;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
}
